@model WebUI.ViewModels.UserAccountViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form asp-controller="UserAccount" asp-action="ExternalLogin" method="post">
    <div class="row text-white">
        <div class="col">
            <button type="submit" class="btn btn-block btn-social btn-facebook" name="provider" value="facebook" title="login using your facebook account">
                <span class="fa fa-facebook"></span> Facebook
            </button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-block btn-social btn-google" name="provider" value="google" title="login using your google account">
                <span class="fa fa-google-plus"></span> Google
            </button>
        </div>
    </div>
</form>