@model WebUI.ViewModels.UserAccountViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<form id="account" method="post" asp-controller="UserAccount" asp-action="Login">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" id="LogEmail" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" id="LogPassword" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-md btn-block btn-outline-light">Log in</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}