@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        var username = User.Identity.Name.Split('@')[0];

        <li class="nav-item">
            <button class=" btn" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><h3 class="retro">@username</h3></button>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn"><h5 class="retro">Logout</h5></button>
            </form>
        </li>
    }
