@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        var username = User.Identity.Name.Split('@')[0];

        <li class="nav-item">
            <a class="btn" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><h3  style="text-shadow: 1px 2px white" class="font-weight-bold">@username</h3></a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn"><h5 style="text-shadow: 1px 2px white" class="font-weight-bold">Logout</h5></button>
            </form>
        </li>
    }
