@model WebUI.ViewModels.QuizViewModel
@{
    ViewData["Title"] = "Render";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;
}

    <h1 class="nav-text text-center">Short Answer Quiz</h1>
    <p class="pt-2"></p>
    <div class="d-flex justify-content-center">
        <div class="col-sm-6">
            <form asp-action="FinalizeQuiz" autocomplete="off">
                @foreach (var item in Model.Questions)
                {
                    <div class="form-group">
                        @counter .@Html.DisplayFor(i => item.Body)
                        <div>
                            <input asp-for="QidGuess[item.QuestionID]" class="form-control" autocomplete="off" required />
                        </div>
                    </div>
                    counter++;
                }
                <input type="hidden" asp-for="TopicID" />
                <input type="hidden" asp-for="NumberOfQuestions" />
                <input type="hidden" asp-for="Questions" />
                <input type="hidden" asp-for="Owner" />
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-outline-secondary" />
                </div>
            </form>
        </div>
    </div>
@section Scripts{



}