@model WebUI.ViewModels.QuizViewModel
@{
    ViewData["Title"] = "Render";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;
}

<h1 class="text-success text-center"> Good Luck!</h1>
<h4 class="text-muted">Short Answer Quiz</h4>
<hr />

<form asp-action="FinalizeQuiz"autocomplete="off">
    @foreach (var item in Model.Questions)
    {
        <div class="form-group">
            @counter .@Html.DisplayFor(i => item.Body)
            <div>
                <input asp-for="QidGuess[item.QuestionID]" class="form-control" autocomplete="off" required/>
            </div>
        </div>
        counter++;
    }
        <input type="hidden" asp-for="TopicID"/>
        <input type="hidden" asp-for="NumberOfQuestions"/>
        <input type="hidden" asp-for="Questions" />
        <input type="hidden" asp-for="Owner"/>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-outline-success" />
    </div>
</form>
@section Scripts{



}