@model WebUI.ViewModels.QuizViewModel

@{
    ViewData["Title"] = "Render";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;

}

<h1 class="text-info text-center">Start studying</h1>


<hr />
<div class="row">
    <div class="col-md-6">
        <div class="card">
            @foreach (var item in Model.Questions)
            {

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h1 class="text-center">@Html.DisplayFor(i => item.Body)</h1>
                        </div>
                        <div class="flip-card-back">
                            <h1 class="text-center">@Html.DisplayFor(i => item.Answer)</h1>
                        </div>
                    </div>
                </div>
                <br />

                counter++;
            }
        </div>
        <a class="btn btn-block btn-outline-success" asp-action="Index" asp-controller="UserContent">Back to my material</a>
    </div>
</div>
<br />
<div>

</div>

@section Scripts{


}                   