@model WebUI.ViewModels.QuizViewModel

@{
    ViewData["Title"] = "Render";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;

}
    <head>
        <style>
            .card{
                border: none;
                background: none;
            }
        </style>
    </head>

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <h1 style="pointer-events: none;" class="nav-text text-center">Start studying</h1>
        <p class="pt-3"></p>
        <div class="card">
            @foreach (var item in Model.Questions)
            {
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4 class="card-text text-wrap">@Html.DisplayFor(i => item.Body)</h4>
                        </div>
                        <div class="flip-card-back">
                            <h4 class="card-text text-wrap">@Html.DisplayFor(i => item.Answer)</h4>
                        </div>
                    </div>
                </div>
                <br />

                counter++;
            }
        </div>
        <a class="btn btn-block btn-outline-success" asp-action="Index" asp-controller="UserAccount">Back to my material</a>
    </div>
</div>
<br />
<div>

</div>

@section Scripts{


}                   