@model WebUI.ViewModels.QuizViewModel
@{
    ViewData["Title"] = "Render";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;
}

<h1 class="text-success text-center"> Good Luck!</h1>
<h4 class="text-muted">Short Answer Quiz</h4>
<hr />

<form asp-action="FinalizeQuiz">
    
    @foreach (var item in Model.Questions)
    {
    <div class="form-group">
        @counter .@Html.DisplayFor(i => item.Body)
        <div>
            <input asp-for="QidGuess[item.QuestionID]" class="form-control" />
        </div>
    </div>
    }
    <div class="form-group" style="display: none;">
        <label asp-for="TopicID" class="control-label"></label>
        <select asp-for="TopicID" class="form-control" asp-items="ViewBag.TopicID"></select>
    </div>
    <div class="form-group" style="display: none;">
        <label asp-for="numCorrect" class="control-label"></label>
        <input asp-for="numCorrect" class="form-control" />
    </div>
    <div class="form-group" style="display: none;">
        <label asp-for="NumberOfQuestions" class="control-label"></label>
        <input asp-for="NumberOfQuestions" class="form-control" />
    </div>
    <div class="form-group" style="display: none;">
        <label asp-for="Owner" class="control-label"></label>
        <input asp-for="Owner" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn-bar btn-outline-success" />
    </div>
</form>
@section Scripts{
<script type="text/javascript">
    function grade() {
        var numberCorrect = 0;
        var guess = document.getElementById("guess").value;
        var answer = document.getElementById("answer").value;
        if (guess.includes(answer)) {

            numberCorrect = numberCorrect + 1;
        }
        document.getElementById("correct").innerHTML += numberCorrect;
    }
</script>


}