@model Domain.Entities.Question

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary text-center">Edit</h1>

<h5 class="text-center text-secondary">Question #@Html.DisplayFor(model => model.QuestionID)</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestionID" />
            <input type="hidden" asp-for="Creator" />
            <div class="form-group">
                <label asp-for="Body" class="control-label text-info"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label text-info"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label text-info"></label>
                <select asp-for="TopicID" class="form-control" asp-items="ViewBag.TopicID"></select>
                <span asp-validation-for="TopicID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="UserAccount" asp-action="Index">Back to List</a>
</div>

