@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Welcome back";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        <h5>Thank you for confirming your email.</h5>
    </p>
</div>

<div class="card">
    <div class="card-body">
        If you would like to protect your account further, enable an authenticator by clicking <a href="./Manage/EnableAuthenticator">here.</a>
    </div>

</div>

