
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <title class="alert-info">This application is currently under development</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<div>
    <h2 class="text-center">Currently Implemented Technologies</h2>
    <h6 class="alert-info text-secondary text-center italic">This was developed for learning purposes only and is not intended to become a trademarked product</h6>
</div>
<body>
    <div class="flex-container">
        <table class="table table-hover border-top-0">
            <thead>
                <tr>
                    <th>Technology</th>
                    <th>Implementation</th>
                    <th>Documentation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-info font-weight-bold">Two Azure SQL Databases</td>
                    <td>Used as the applications database context, data at rest is encrypted to safeguard application data and user information. Authentication database is seperate from the buisness logic database, this is to limit the amount of queries the sensitive database recieves.</td>
                    <td><a href="https://theblobthestorageaccount.blob.core.windows.net/myblob/AzureSQLDocumentation.pdf">Azure SQL</a></td>
                </tr>
                <tr>
                    <td class="text-info font-weight-bold">Entity Framework Core</td>
                    <td>Code first model scaffolding to keep precise entity relationships. Grants users permission to utilize CRUD operations in order to store their customized questions and quizzes through the use of forms.</td>
                    <td><a href="https://theblobthestorageaccount.blob.core.windows.net/myblob/EFCoreDocumentation.pdf">EF Core</a></td>
                </tr>
                <tr>
                    <td class="text-info font-weight-bold">User-Secrets Manager</td>
                    <td>Protect application secrets in the development environment</td>
                    <td><a href="https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-2.2">User Secrets</a></td>
                </tr>
                <tr>
                    <td class="text-info font-weight-bold">Azure Key Vault</td>
                    <td>Protect application secrets in the production environment</td>
                    <td><a href="https://docs.microsoft.com/en-us/azure/key-vault/">Azure Key Vault</a></td>
                </tr>
                <tr>
                    <td class="text-info font-weight-bold">ASP.Net Identity</td>
                    <td>Full UI scaffolded to add further constraints to account behavior</td>
                    <td><a href="https://docs.microsoft.com/en-us/aspnet/identity/overview/getting-started/introduction-to-aspnet-identity">ASP.Net Identity</a></td>
                </tr>
                <tr>
                    <td class="text-info font-weight-bold">SendGrid API</td>
                    <td>Allows accounts to be confirmed through email confirmation</td>
                    <td><a href="https://sendgrid.com/docs/API_Reference/api_v3.html"> SendGrid</a></td>
                </tr>
                <tr>
                    <td class="text-info font-weight-bold">Two Factor Authentication</td>
                    <td>Optional 2FA with TOTP Authenticator apps</td>
                    <td><a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-enable-qrcodes?view=aspnetcore-2.2"> QR Codes</a></td>
                </tr>
                <tr>
                    <td class="text-info font-weight-bold">Azure BLOB Storage</td>
                    <td>Provide links directly to PDF's</td>
                    <td><a href="https://theblobthestorageaccount.blob.core.windows.net/myblob/BLOBDocumentation.pdf">Azure BLOB Storage</a></td>
                </tr>
                <tr>
                    <td class="text-info font-weight-bold">Bootstrap 4</td>
                    <td>Front end sytling and animated features</td>
                    <td><a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstrap Homepage</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>


