
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap-social/assets/css/font-awesome.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-4">
                <img class="img-fluid" src="https://theblobthestorageaccount.blob.core.windows.net/myblob/logo_transparent-pain.png" alt="QuizLash" />
            </div>
        </div>
        <div class="row"><p></p></div>
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col">
                <button class="btn btn-lg" data-toggle="modal" data-target="#loginmodal"><display class="display-1 nav-text">Let's Begin</display></button>
            </div>
        </div>
    </div>
    <div class="modal fade rounded" id="loginmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close align-self-end" data-dismiss="modal">&times;</button>
                <div class="modal-body">
                    <div class="hl">
                        <span><b>Login/Register with:</b></span>
                    </div>
                    <p></p>
                    <partial name="_ExternalLoginForm" />
                    <p></p>
                    <div class="hl">
                        <span><b>Or use a local account</b></span>
                    </div>
                    <partial name="_LoginForm" />
                    <p></p>
                    <div class="row justify-content-center">
                        <div class="col">
                            <button class="text-black-50" data-toggle="modal" data-target="#registermodal" data-dismiss="modal">Create Account</button>
                        </div>
                        <div class="col">
                            <button class="text-black-50" id="forgot-password" asp-area="Identity" asp-page="/Account/ForgotPassword">Forgot Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registermodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close align-self-end" data-dismiss="modal">&times;</button>
                <div class="modal-body">
                    <partial name="_RegisterForm" />
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}