
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap-social/assets/css/font-awesome.css" />
    
</head>
<div class="text-center">
    <h1 style="font-family: Georgia" class="font-weight-light">Welcome to Cram King</h1>
    <i>Create your own questions to personalize your study time</i>
</div>
<hr />
<p style="padding-top: 40px"></p>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <h5 class="text-primary">Start Learning Today</h5>
                    <hr />
                </div>
                <div>
                    <p class="text-lg-left text-secondary">
                        With no limits on what material you can create your learning experience is completely up to you.
                        Enter your study material and review it with flashcards or test your knowledge of a subject with short answer and multiple-choice quizzes.
                    </p>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal" data-target="#loginmodal">Start</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loginmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close align-self-end" data-dismiss="modal">&times;</button>
                <div class="modal-body">
                    <div class="hl">
                        <span><b>Login/Register with:</b></span>
                    </div>
                    <p></p>
                    <partial name="_ExternalLoginForm"/>
                    <p></p>
                    <div class="hl">
                        <span><b>Or use a local account</b></span>
                    </div>
                    <partial name="_LoginForm" />
                    <p></p>
                    <div class="row justify-content-center">
                        <div class="col">
                            <button class="text-black-50" data-toggle="modal" data-target="#registermodal" data-dismiss="modal">Create Account</button>
                        </div>
                        <div class="col">
                            <button class="text-black-50" id="forgot-password" asp-area="Identity" asp-page="/Account/ForgotPassword">Forgot Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registermodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close align-self-end" data-dismiss="modal">&times;</button>
                <div class="modal-body">
                    <partial name="_RegisterForm"/>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}