@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Study Buddy</h1>
    <h2 class="alert-info">The application is currently under going some changes</h2>
</div>
<hr />
<body>
    <div class="a">
        <p2>
            Upcoming Features
            <ul>
                <li>Creating your custom quizes with <a href="https://theblobthestorageaccount.blob.core.windows.net/myblob/LinqDocumentation.pdf">Language-Integrated Query(LINQ)</a> </li>
                <li>Speech services with <a href="https://theblobthestorageaccount.blob.core.windows.net/myblob/LuisDocumentation.pdf">LUIS </a></li>
            </ul>
        </p2>
    </div>
</body>