@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <header class="display-4">Welcome To Study Buddy</header>
    <i>Create your own questions to personalize your study time</i>
</div>
<hr />

<body>
    <div class="card">
        <div class="card-header text-center">
            <b class="">Study options</b>
        </div>
        <div class="card-body">
            <b class="text-info">Currently you may</b>
            <ol>
                <li>Create your own questions</li>
                <li>Study either, your own questions or any that match the chosen topic</li>
            </ol>
            <b class="text-info">Study formats available</b>
            <ol>
                <li>Flash cards</li>
            </ol>
            <b class="text-info">Future available formats</b>
                <ol>
                    <li>Multiple choice quizzes</li>
                    <li>Short answer quizzes</li>
                </ol>
</div>
    </div>
    <div class="card-deck justify-content-around">
        <div class="card">
            <div class="card-header">
                <b>Getting Started</b>
            </div>
            <div class="card-body">
                <b class="text-info">Start studying in three easy steps</b>
                    <ol>
                        <li>Register an account.</li>
                        <li>Check your email to confirm your account</li>
                        <li>Click the "Material" tab on the top right and start entering your questions</li>
                    </ol>
                    <a class="btn btn-primary border-white stretched-link" asp-area="Identity" asp-page="/Account/Register">Let us begin</a>
</div>
        </div>

        <div class="card">
            <div class="card-header">
                <b>Development Steps</b>
            </div>
            <div class="card-body">
                <p class="card-text">
                    For more information about this project please visit the About page.<br />
                    If you are interested in more detailed information please visit my Github profile.
                </p>
                <a href="https://github.com/jthams/" class="btn btn-primary border-white stretched-link">To Github</a>
            </div>
        </div>
    </div>
</body>