@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Welcome back";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        <h5>Thank you for confirming your email.</h5>
    </p>
</div>

<div class="card">
    <div class="card-body">
        Click <a href="./Manage/Index">here.</a> to continue to your account.
    </div>

</div>

